<h1>View all Offices</h1>

<table>
  <tr>
    <td>Company Name</td>
    <td>Buidling Name</td>
    <td>Floor</td>
    <td>Id</td>
  </tr>
  <tr>
      <% @offices.each do |office| %>
        <tr>
          <td><%= office.company.name %></td>
          <td><%= office.building.name %></td>
          <td><%= office.floor %></td>
          <td><%= office.id %></td>
          <td> <%= link_to "View this Office", office_path(office) %></td>
        </tr>
      <% end %>
  </tr>
</table>