<h1>Show an Office</h1>


<h3>Office</h3>
ID: <%= @office.id %><br>
Floor: <%= @office.floor %><br>
Building id: <%= @office.building_id %><br>
Company id: <%= @office.company_id %><br>
# Employees: <%= @office.num_employees %><br>
List of Employees:<br>
<% @office.list_employees.each do |emp| %>
  <%= emp %><br>
<% end %>

<h3>Building</h3>
Name: <%= @office.building.name %><br>
Address: <%= @office.building.address %><br>
Country: <%= @office.building.country %><br>
Rent/Floor: <%= @office.building.rent_per_floor %><br>
# Floors: <%= @office.building.number_of_floors %><br>
ID: <%= @office.building.id %><br>

<h3>Company</h3>
Name: <%= @office.company.name %><br>
ID: <%= @office.company.id %><br>


