<h3>Add an Employee</h3>
<%= form_for @employee do |f| %>
<% byebug %>
<%= render partial: "employees/errors", locals: {user: @employee} %>
  <div class="field">  
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

   <div class="field">  
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <%= f.hidden_field :company_id, value: @company.id %>
  <%= f.submit %>
<% end %>
<br>