<h1>View all Buildings</h1>
<table>
  <tr>
    <th>Name </th>
    <th>Address </th>
    <th>Country </th>
    <th>Total Floors</th>
    <th>Num Floors Available</th>
    <th>Floors Available</th>
    <th>Floors Rented</th>
    <th>Rent/Floor</th>
  </tr>
  <tr>
    <% @buildings.each do |building| %>
    <tr>
      <td><%= building.name %></td>
      <td><%= building.address %></td>
      <td><%= building.country %></td>
      <td><%= building.number_of_floors %></td>
      <td><%= building.empty_offices %></td>
      <td><%= building.floors_available.size > 0 ?  building.floors_available.join(", ") : "None Available"%></td>
      <td><%= building.floors_rented.size > 0 ? building.floors_rented.join(", ") :  "None Available"%></td>
      <td><%= number_with_delimiter(building.rent_per_floor) %></td>
      <td><%= link_to "View this Building", building_path(building) %></td>
      <td><%= link_to "Edit this Building" , edit_building_path(building) %></td>
    </tr>
    <% end %>
  </tr>
</table>
