<h1>View all Buildings</h1>
<% @buildings.each do |building| %>
  <p>Building Name: <%= building.name %><br>
  Building Address: <%= building.address %><br>
  Country: <%= building.country %><br>
  # Floors: <%= building.number_of_floors %><br>
  Floors Available: <%= building.floors_available.join(", ") %><br>
  Rent/Floor: <%= building.rent_per_floor %></p><br>
  <%= link_to "View this Building", building_path(building) %><br>
  <%= link_to "Edit this Building" , edit_building_path(building) %>
  <hr>
  
<% end %>