<h1>Edit a Company</h1>

<%= render partial: "companies/errors", locals: {user: @company} %>
<!-- <%= render partial: "form" %> -->

<%= @company.name %>
<h3>Offices: </h3>
<% @company.office_info.each do |office_info| %>
  <%= office_info %><br>
<% end %>

<%= form_for @company do |f| %>
<p>Company Details</p>
	<%= f.label :name %>
	<%= f.text_field :name %>

<p>Building Floors Available</p>
	<% Building.all.each do |b| %>
    <%= f.fields_for :offices, b do |b_field| %>
	    <%= b_field.hidden_field :id %>
      <%= b_field.label b.name %>
			<%= b_field.collection_check_boxes :offices, b.floors_available_and_curr_company_floors(params[:id]), :floor, :floor , 
      { checked: (b.current_company_floors(params[:id])) }%><br>
		<% end %>
	<% end %>
	<br>
	<%= f.submit %>
<% end %>