<h1>View a Company</h1>

<h3>Name: <%= @company.name %></h3>
<h3>Offices: </h3>
<% @company.office_info.each do |office_info| %>
  <%= office_info %><br>
<% end %>
<br>


<h3>Company's Total Rent: </h3>
<%= number_with_delimiter(@company.total_rent) %>
<br>
<br>
<%= link_to "Edit this Company", edit_company_path(@company.id) %> 

<hr>

<br>

<%= render "employees/show" %>
<%= render "employees/index" %>
