<h1>View a Company</h1>
<%= render partial: "companies/errors", locals: {user: @company} %>

<h3>Name: <%= @company.name %></h3>
<h3>Offices: </h3>
<% @company.office_info.each do |office_info| %>
  <%= office_info %><br>
<% end %>

<h3>Company's Total Rent: </h3>
<%= @company.total_rent %>

<h3>Add an Employee</h3>

<%= form_for @employee do |f| %>
  <div class="field">  
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

   <div class="field">  
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <%= f.hidden_field :company_id, value: @company.id %>
  <%= f.submit %>
<% end %>

<h3>Employees List: </h3>
<% @company.employees.each do |employee| %>
  Name: <%= employee.name %>, Title: <%= employee.title %>
  <%= link_to "Delete Employee", employee_delete_path(employee.id), method: :delete, data: { confirm: "Really?" } %><br>
<% end %>
