<!DOCTYPE html>
<html>
  <head>
    <title>WeManage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to "View all Buildings", buildings_path %>
    <%= link_to "View all Offices", offices_path %>
    <%= link_to "View all Companies", companies_path %>
    <%= link_to "Add a new Company", new_company_path %>
    <br>
    <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>
    <hr>
    <%= yield %>
  </body>
</html>
